<div class="row col-lg-offset-3">
    <div class="col-lg-6">
        <form #userForm="ngForm">
            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="password">Password :</label>
                <input type="password" name="password" id="password" class="form-control" ngModel>
            </div>
            <div>
                <button class="btn btn-primary" type="submit"> {{isLoginMode ? 'Log In' : 'Sign Up'}}</button> |
                <button class="btn btn-info" (click)="switchModes()" type="button">
                    Switch to  {{isLoginMode ? 'Sign Up' : 'Log In'}}
                </button>
            </div>
        </form>
    </div>
</div>