<div class="row">
  <div class="col-xs-12">
    <a
      [routerLink]="[index]"
      style="cursor: pointer"
      [routerLinkActive]="'active'"
      class="list-group-item clearfix"
    >
      <div class="pull-left">
        <h4 class="list-group-item-heading" [innerText]="item.name"></h4>
        <p class="list-group-item-text">{{ item.description }}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="item.imagePath"
          alt=""
          class="img-responsive"
          style="max-height: 100px"
        />
      </span>
    </a>
  </div>
</div>
