<form class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-xs-1">Name :</label>
    <div class="col-xs-8">
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        #inputName
      />
    </div>
  </div>
  <div class="form-group">
    <label for="amount" class="col-xs-1">Amount :</label>
    <div class="col-xs-8">
      <input type="number" id="amount" class="form-control" #inputAmount />
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-1">
      <button
        class="btn btn-success"
        type="button"
        (click)="addIngredient(inputName.value, inputAmount.value)"
      >
        Add
      </button>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-danger" type="button">Delete</button>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-primary" type="button">Clear</button>
    </div>
  </div>
</form>
